@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::view-transition-old(root) {
  animation: slide-out 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

::view-transition-new(root) {
  animation: slide-in 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slide-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

header {
  padding: 0.8rem 2.5rem;
  @apply bg-black text-white flex relative  p-1  justify-between items-center text-xl;

  .logo {
    @apply transition-colors text-[1.4rem] mx-5 duration-500 bg-linear-to-r/increasing bg-clip-text text-transparent from-indigo-500 to-fuchsia-200 hover:to-fuchsia-600;
  }

  nav ul {
    @apply flex gap-6 justify-end p-2 mx-10;
  }
  li {
    @apply gap-[2.25rem] mx-auto text-[1.1rem];

    &:hover {
      @apply transition-colors duration-500 bg-linear-to-r/increasing bg-clip-text text-transparent from-indigo-500 to-fuchsia-200 hover:to-fuchsia-600;
    }
  }
}

body {
  @apply bg-black;
}

.home-section {
  @apply text-white h-screen
  flex flex-col items-center justify-center;
}

.home {
  @apply p-8 rounded-lg bg-linear-to-b/increasing from-indigo-500 to-fuchsia-600 max-w-2xl flex flex-col gap-2;

  h1 {
    @apply font-medium text-4xl text-center pb-4;
  }

  p {
    @apply text-fuchsia-200 text-center text-sm pb-4;
  }

  button {
    @apply self-center w-fit border p-2 rounded-2xl transition-colors duration-500 cursor-pointer hover:bg-linear-to-l/decreasing from-pink-600 to-blue-500;
  }
}

.quiz-section {
  @apply text-white h-screen flex flex-col items-center justify-center;

  .quiz {
    @apply p-10 rounded-lg bg-linear-to-b/increasing from-indigo-500 to-fuchsia-600 max-w-2xl flex flex-col gap-4 min-w-fit;

    h2 {
      @apply font-bold text-zinc-100 text-center;
    }

    p {
      @apply text-2xl bg-zinc-800 p-2 rounded-2xl text-fuchsia-100;
    }

    button {
      @apply self-center w-fit border p-2 rounded-2xl transition-all cursor-pointer hover:bg-linear-to-l from-pink-600 to-blue-500;
    }
  }
}

.text-gradient {
  @apply bg-linear-to-r/increasing bg-clip-text font-bold text-transparent from-indigo-200 to-indigo-200;
}

.bg-gradient {
  @apply rounded-lg bg-linear-to-b/increasing from-indigo-500 to-fuchsia-600  flex flex-col gap-4 items-center;
}

.result-page {
  @apply flex flex-col h-screen items-center justify-center;
  .results {
    @apply p-10 rounded-lg bg-linear-to-b/increasing from-indigo-500 to-fuchsia-600 max-w-2xl flex flex-col gap-4 items-center;

    h1 {
      @apply text-zinc-100 text-center;
    }

    p {
      @apply text-2xl p-2 text-center rounded-2xl text-fuchsia-50;
    }

    button {
      @apply self-center w-fit border p-2 rounded-2xl transition-all cursor-pointer hover:bg-linear-to-l from-pink-600 to-blue-500 text-white;
    }
  }
}

.learn-more {
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
